

.nav-pills li a {
    background-color: transparent;
}

.text-indigo-300 {
    color: #818cf8; /* Este es el color indigo-300 */
}

a .text-indigo-300:hover {
    scale: 1.5;
    color: purple;
}

i, span{
    color:white;
}


.nav-pills li a:hover {
    background-color: rgb(43, 43, 44);
    color: rgb(255, 255, 255);

}

.dashboard div.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}



.page-link{
    background: rgb(163, 163, 163);
}


/* ESTILOS SWITCH MODO CLARO/OSCURO */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* ESTILOS ICONOS DEL SWITCH*/

.slider i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.switch i {
    font-size: 1.2em;
}

.slider .fa-moon {
    left: 10px;
}


.slider .fa-sun {
    right: 0px;
}

/*DASHBOARD*/

.border-purple {
    border-color: purple !important;
    transition: border-color 0.3s ease;
}

.border-purple:hover {
    background-color: #6e42c166 !important;
}
