// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap//
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import "tabla";

.navbar-dark .navbar-nav .nav-link {
    color: white !important; /* Cambiar el color del texto a blanco */
}

/* ESTILOS SWITCH MODO CLARO/OSCURO */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* ESTILOS ICONOS DEL SWITCH*/

.slider i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.switch i {
    font-size: 1em;
}

.slider .fa-moon {
    left: 10px;
}


.slider .fa-sun {
    right: 0px;
}


//modo claro/oscuro
$dark-mode-bg: linear-gradient(90deg, rgba(13,0,12,1) 0%, rgba(60,11,56,1) 29%, rgba(107,12,103,1) 91%);
$dark-mode-text: #000000;


$light-mode-bg:linear-gradient(90deg, rgba(13,0,12,1) 0%, rgba(194,56,126,1) 27%, rgba(199,54,106,1) 91%);
$light-mode-text: #333;

body {
    & {
        background: $light-mode-bg !important; // Fondo claro por defecto
        color: #000 !important; // Texto oscuro por defecto
    }

    &.dark-mode {
        background: $dark-mode-bg !important;
        color: $dark-mode-text;
    }
}

.light-bg {
    background-color: $light-mode-bg;
    color: $light-mode-text !important;
}

.sombraImagen{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* offsetX offsetY blurRadius color */

}

label{
    color: black;
}

.cartaShow{
    background-color: rgba(125, 125, 125, 0.425);
}
