// Body
$body-bg: #f8fafc;
$color-rosa: #CA40D6;
$color-rosa-dos: #DB72E5;
$color-rosa-tres: #ed87f7;
$blanco: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.2rem ;
$line-height-base: 1.6;

body
{
    font-size: $font-size-base !important;
}

.imagenColor
{
    color: $color-rosa-dos;
}
.fondoColor:hover
{
    background-color: $color-rosa-dos !important;
    color: white;
}



.panel{
    color: white;
}

li {

    transition: transform 0.3s ease-in-out;
}


li:hover
{
    background-color: $color-rosa-tres;
    border-radius: 1em;
    transform: scale(1.1);
    i{
        color: black;
    }
    span{
        color: white;
    }
}


/* ESTILOS SWITCH MODO CLARO/OSCURO */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* ESTILOS ICONOS DEL SWITCH*/

.slider i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-rosa;
}

.switch i {
    font-size: 1em;
}

.slider .fa-moon {
    left: 10px;
}


.slider .fa-sun {
    right: 0px;
}

/*DASHBOARD*/

.border-purple {
    border-color: purple !important;
    transition: border-color 0.3s ease;
}

.border-purple:hover {
    background-color: #6e42c166 !important;
}

.bg-purple,.bg-purplea {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bg-purple {
    background-color: $color-rosa-dos !important ;
}

.bg-purplea{
    background-color: $color-rosa-tres !important  ;
}

.bg-purple:hover,.bg-purplea:hover {
    background-color: $color-rosa !important;
    transform: scale(1.1);
}


.ahover {
    transition: transform 0.3s ease;
}

.ahover:hover {
    transform: scale(1.4);
}

.btn-warning:hover
{
    transform: scale(1.1);
    color: white;
}
