// Body
$body-bg: #f8fafc;
$color-rosa: #CA40D6;
$color-rosa-dos: #DB72E5;
$color-rosa-tres: #ed87f7;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

